@import "tailwindcss";
@font-face {
  font-family: "Hacen";
  src: url("./assets/font/Hacen\ Egypt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-color: #1f476f;
  --main-color-lighter: #7899b2;
  --sub-color: #b88647;
  --sub-color-lighter: #e3c194;
  --third-color: #8fa5b5;
  --third-color-lighter: #a9b9c6;
  --text-color: #4a4a4a;
}
body {
  font-family: "Hacen";
}
/* src/index.css أو src/App.css */
/* تأكد أن هذا الكلاس موجود أو أضفه إذا لم يكن موجوداً */
.card-fancy-glow:hover {
  box-shadow: 0 0 40px 10px rgba(184, 134, 71, 0.7);
  /* وهج ذهبي أقوى */
  /* transform: translateY(-10px) scale(1.02);  تم نقل الـ transform إلى الكلاسات المباشرة في React */
  transition: all 0.4s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.slick-dots {
  bottom: initial !important;
}

.dir-ltr {
  direction: ltr;
}
