@import "tailwindcss";

:root {
  --main-color: #1F476F;
  --main-color-lighter: #7899B2;
  --sub-color: #B88647;
  --sub-color-lighter: #E3C194;
  --third-color: #8FA5B5;
  --third-color-lighter: #A9B9C6;
  --text-color: #4a4a4a;
}

/* src/index.css أو src/App.css */
/* تأكد أن هذا الكلاس موجود أو أضفه إذا لم يكن موجوداً */
.card-fancy-glow:hover {
  box-shadow: 0 0 40px 10px rgba(184, 134, 71, 0.7);
  /* وهج ذهبي أقوى */
  /* transform: translateY(-10px) scale(1.02);  تم نقل الـ transform إلى الكلاسات المباشرة في React */
  transition: all 0.4s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.slick-dots {
  bottom: initial !important;
}

.dir-ltr {
  direction: ltr;
}